div {
    border-color: red;
    border-style: solid;
    border-width: 1px;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    gap: 10px;
}

.headline {
    display: flex;
}

.headline-left {
    display: flex;
    flex-direction: column;
}

.headline-right {
    box-sizing: border-box;
    height: 40px;
    width: 120px;
    align-items: center;
    justify-content: center;
}

.support {
    display: flex;
    flex-direction: column;
}

.support-top {
    display: flex;
    justify-content: center;
}

.support-bottom {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placeholder-box {
    height: 40px;
    width: 40px;
    border: 2px solid blue;
    border-radius: 10px;
}

.testimonial {
    display: flex;
    flex-direction: column;
}

.testimonial-top {
    font-style: italic;
    display: flex;
    justify-content: left;
}

.testimonial-bottom {
    display: flex;
    font-weight: bold;
    justify-content: right;
}