* {
    border-color: red;
    border-style: solid;
    border-width: 1px;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header h3 {
    font-size: 18px;
}

.header ul{
    display: inline-flex;
    list-style-type: none;
    padding: 0px;
    gap: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-left,
.hero-right {
    display: flex;
    width: 560px;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.hero-left h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.hero-left button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    margin: 0px;
}

.hero-right {
    align-items: center;
}

.hero-image {
    box-sizing: border-box;
    height: 150px;
    width: 400px;
}

.support {
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.support h2 {
    margin: 0px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.support-bottom {
    margin: 0px;
    width: 900px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.support-bottom div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    gap: 15px;
}

.support-bottom p {
    margin: 0px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.placeholder-box {
    height: 180px;
    width: 180px;
    border: 2px solid blue;
    border-radius: 15px;
}

.testimonial {
    display: flex;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.testimonial-top,
.testimonial-bottom {
    margin: 0px;
    padding: 0px;
    width: 900px;
    display: flex;
}

.testimonial-top {
    font-style: italic;
    justify-content: left;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.testimonial-bottom {
    font-size: 24px;
    font-weight: bold;
    justify-content: right;
}

.signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}