* {
    border-color: red;
    border-style: solid;
    border-width: 1px;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header h3 {
    font-size: 18px;
}

.header ul{
    display: inline-flex;
    list-style-type: none;
    padding: 0px;
    gap: 10px;
}

.headline {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.headline-left {
    display: flex;
    flex-direction: column;
}

.headline-left h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.headline-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.headline-left button {
    width: 75px;
    background-color: #3882F6;
    color: white;
}

.headline-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline-image {
    box-sizing: border-box;
    height: 40px;
    width: 120px;
}

.support {
    display: flex;
    flex-direction: column;
}

.support-top {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.support-bottom {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placeholder-box {
    height: 40px;
    width: 40px;
    border: 2px solid blue;
    border-radius: 10px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.testimonial-top {
    font-style: italic;
    display: flex;
    justify-content: left;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.testimonial-bottom {
    display: flex;
    font-weight: bold;
    justify-content: right;
}

.signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}